// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-heading{
  font-size: 25px;
  margin: 30px;
}

.top-introduction{
  font-size: 15px;
  margin-left: 70px;
  padding-bottom: 40px;
}

.start-link{
  margin-left: 70px;
}